*{
    margin: 0;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.cabecera{
    width: 1300px;
    height: 50px;
    background-color: darkslateblue;
}
.cabeza{
    width: 1300px;
    height: 50px;
    background-color: white;
}
.contenido{
    width: 1300px;
    height: 630px;
    background-color: rgb(212, 212, 212);
    display: flex;
}
.izquierda{
    width: 280px;
    height: 630px;
    background-color: white;
   
}
.centro{
    width: 700px;
    height: 600px;
    background-color: rgb(212, 212, 212);
}
.derecha{
    width: 400px;
    height: 600px;
    background-color: rgb(212, 212, 212);
    margin-top: 20px;
}
.collection{
    margin-top: 0;
}
.color{
    background-color:red;
    text-align: center;
    color: white;

}
#cajita{
    padding-left: 10px;
    background-color: white;
    border: none;
    border: 1px solid blue;
    height: 32px;
    width: 50px;
}
td{
    height: 25px
}
tr{
    height: 40px;
    margin-top: 0;
}
#tablita{
    width: 700px;
    font-size: 13px;
    height: 180px;
    background-color: white;
    margin-left: 5px;
}
.container{
    height: 605px;
    width: 320px;
    background-color: whitesmoke;
    border: none;
    border: 1px solid rgb(175, 175, 175);

}
